/*NAV BAR*/

/* Variables */
/* Small Navigation */

div.title-bar {
  padding: 0 .5rem;
}

.menu-icon {
  margin: 10px;

 }

.top-bar-section ul {
			background: black;
		}
		.top-bar-section a {
			color: #f00808;
			font-weight: bold;
			font-family: 'Josefin Sans', sans-serif;
			font-size: 20px;
		}
		.top-bar-section a:hover {
			background: #595959;
		}
		.top-bar-section a:active, a:focus {
			background-color: #404040;
		}

/*submenu icons*/
.dropdown.menu.vertical > li.opens-right > a::after {
	border-color: #f00808 transparent transparent;
}
.is-drilldown-submenu-parent > a::after {
	border-color: transparent transparent transparent #f00808;
}
.js-drilldown-back > a::before {
	border-color: transparent #f00808 transparent transparent;
}
.dropdown-pane {
	border: 0;
}

/* Medium-Up Navigation */
@media only screen and (min-width: 40rem) {
	nav.top-bar {
		text-align:center;
		background: black;
		padding: 0;
		height: 42px;
		position: fixed;
		width: 100%;
		z-index: 1;
	}
	section.top-bar-section {
		display: inline-block;
	}

}

/*GENERAL---------------------------------------*/
html {
	font-size: 16px;
}
body {
	color: #ffffff;
	font-family: 'Josefin Sans', sans-serif;
	overflow-x: hidden;
	margin: 0;
}
.h1 {
	font-weight: 700;
	text-align: center;
	color: #fff;
}

a {
	text-decoration: none;
}

a:hover, a:active, a:focus {
	text-decoration: none;
}


/**************************************HOME******************************8*/
.home {
	height: 50%;
	width: 100%;
	background-image: url(../photos/hero-img.svg);
	background-position: center;
	background-size: cover;
	color: #f00808;
}
/*#title {
	display: flex;
	flex-direction: column;
	justify-content: center;s
	align-items: center;
}*/
.name {
	height: 100%;
	width: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
}
	.name div {
		margin-top: -20px;
	}
	.name h1{
		font-family: 'Josefin Sans', sans-serif;
		font-weight: 700;
		font-size: 2.5rem;
		text-align: center;
	}
	.name h2{
		text-align: center;
	}

/* Medium-Up Navigation */
@media only screen and (min-width: 40rem) {
	section.home {
		height: 100%;
	}
	.name h1 {
		font-size: 7em;
	}
}

/*ABOUT ME------------------------------------------*/

#about {
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: #f76e6e;
	text-align: center;
}
.centered-container {
	padding: 25px;
	max-width: 800px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
	#bio p{
		margin: 0;
		color: #ffffff;
		font-weight: 400;
		text-align: center;
	}
#resume {
	cursor: pointer;
	border: 1px solid #fff;
	border-radius: 5px;
	margin:10px;
	margin-bottom: 0;
}
	#resume a{
		padding: 0 1rem;
		color: #ffffff;
		font-size: 1em;
	}
	#resume:hover{
		border: 1px solid #404040;
		background-color: #404040;
	}

@media only screen and (min-width: 40rem) {
	.centered-container {
		padding: 75px;
	}
	#bio {
		font-size: 2em;
	}
	#resume {
		margin-top: 20px;
	}
	 
}


/*SKILLS--------------------------------------------------*/

section.skills {
	width: 100%;
	padding: 25px;
	color: #000;
	background-color: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
}
.skills h1 {
	color: #f76e6e;
}

.skills dl {
	display: flex;
	flex-direction: column;
	width: 100%;
	max-width: 700px;
	position: relative;
	padding: 0 10px;
}

.skills dt {
  /*align-self: flex-start;*/
  /*width: 100%;*/
  font-weight: 700;
  display: block;
  text-align: center;
  margin-bottom: 1rem;
 }

.text {
  font-weight: 700;
  display: flex;
  align-items: center;
  height: 0.7rem;
  width: 100px;
  position: absolute;
  left: 0;
  justify-content: flex-end; }

.percentage {
  font-size: 0.7rem;
  line-height: 1;
  text-transform: uppercase;
  width: 80%;
  height: 0.7rem;
  margin-left: 100px;
  margin-bottom: 0.7rem;
  margin-top: 0.7rem;
 }
  .percentage::after {
    content: "";
    display: block;
    background-color: #f76e6e;
    width: 50px;
    margin-bottom: 10px;
    height: 90%;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    }
  /* .percentage::before {
   	content: "";
   	display: block;
   	background-color: grey;
   	height: 90%;
   	width: 100%;
   	position: relative;
   	top: 100%;
   	transform: translateY(-50%);
   }*/


.percentage-35::after {
  width: 35%; }

.percentage-40::after {
  width: 40%; }

.percentage-45::after {
  width: 45%; }

.percentage-50::after {
  width: 50%; }

.percentage-55::after {
  width: 55%; }

.percentage-60::after {
  width: 60%; }

.percentage-65::after {
  width: 65%; }

.percentage-70::after {
  width: 70%; }

.percentage-75::after {
  width: 75%; }

.percentage-80::after {
  width: 80%; }

.percentage-85::after {
  width: 85%; }

.percentage-90::after {
  width: 90%; }

.percentage-95::after {
  width: 95%; }

.percentage-100::after {
  width: 100%; }

@media only screen and (min-width: 40rem) {
	section.skills {
		padding: 75px;
	}
	.skills dl {
		padding: 0 20px;
	}
	.skills .text {
	height: 1rem;
	width: 150px;
	position: absolute;
	left: 0;
	justify-content: flex-end; }

	.skills .percentage {
	font-size: 1rem;
	width: 100%;
	height: 1rem;
	margin-left: 150px;
	margin-bottom: 1rem;
	margin-top: 1rem;
	}
}

/*EXPERIENCES--------------------------------*/
section.experiences {
	color: #fff;
	background-color: #404040;
}
.experiences h1{
	padding-top: 75px;
	text-align: center;
}
.experiences h2{
	font-size: 1.25em;
	font-weight: 700;
}
.experiences h3 {
	font-size: 1em;
	margin-top: -10px;
}
.timeline ul {
  padding: 30px;
  margin: 0;
  padding-bottom: 75px;
}

.timeline ul li {
  list-style-type: none;
  position: relative;
  width: 2px;
  margin: 0 auto;
  padding-top: 50px;
  background: #fff;
}

.timeline ul li::after {
  content: '';
  position: absolute;
  left: 50%;
  bottom: 5px;
  transform: translateX(-50%);
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: inherit;
}

.timeline ul li div {
  position: relative;
  bottom: 5px;
  width: 400px;
  padding: 15px;
  background: #f76e6e;
}


.timeline ul li div::before {
  content: '';
  position: absolute;
  bottom: 4px;
  width: 0;
  height: 0;
  border-style: solid;
}

.timeline ul li:nth-child(odd) div {
  left: 45px;
}

.timeline ul li:nth-child(odd) div::before {
  left: -15px;
  border-width: 8px 16px 8px 0;
  border-color: transparent #f76e6e transparent transparent;
}

.timeline ul li:nth-child(even) div {
  left: -439px;
}

.timeline ul li:nth-child(even) div::before {
  right: -15px;
  border-width: 8px 0 8px 16px;
  border-color: transparent transparent transparent #f76e6e;
}

time {
  display: block;
  font-size: 1.2rem;
  font-weight: bold;
}

.timeline li:nth-child(odd) span {
  position: absolute;
  bottom: 0;
  right: 30px;
}

.timeline li:nth-child(even) span {
  position: absolute;
  bottom: 0;
  left: 30px;
}


/* EFFECTS
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.timeline ul li::after {
  transition: background .5s ease-in-out;
}

.timeline ul li.in-view::after {
  background: #f76e6e;
}

.timeline ul li div {
  visibility: hidden;
  opacity: 0;
  transition: all .5s ease-in-out;
}

.timeline ul li:nth-child(odd) div {
  transform: translate3d(200px, 0, 0);
}

.timeline ul li:nth-child(even) div {
  transform: translate3d(-200px, 0, 0);
}

.timeline ul li.in-view div {
  transform: none;
  visibility: visible;
  opacity: 1;
}


/* GENERAL MEDIA QUERIES
–––––––––––––––––––––––––––––––––––––––––––––––––– */

@media screen and (max-width: 900px) {
  .timeline ul li div {
    width: 250px;
  }
  .timeline ul li:nth-child(even) div {
    left: -291px;
    /*250+45-4*/
  }
}


/*@media only screen and (min-width: 40rem) {
	.experience h1{
		padding-top: 75px;
	}
	.timeline ul li {
	  width: 2px;
	  margin: 0 auto;
	}

	
	.timeline ul li div::before {
		bottom: 7px;
	}
	
}*/

@media screen and (max-width: 600px) {
	.experiences h1 {
		padding-top: 25px;
	}
	.timeline ul {
		padding: 25px;
	}
	.timeline ul li div {
	width: calc(100vw - 130px);
	}

	.timeline ul li:nth-child(odd) div {
	left: 30px;
	}
	.timeline ul li:nth-child(even) div {
	left: 30px;
	}
	.timeline ul li {
		margin: 0 30px;
	}

	.timeline ul li::after {
	  width: 10px;
	  height: 10px;
	}

	.timeline ul li div{
		bottom: 0;
	}

	.timeline ul li:nth-child(even) div::before {
	left: -15px;
	border-width: 8px 16px 8px 0;
	border-color: transparent #f76e6e transparent transparent;
	}


	.timeline li:nth-child(odd) span {
	position: absolute;
	bottom: 0;
	right: 15px;
	}

	.timeline li:nth-child(even) span {
	position: absolute;
	bottom: 0;
	left: -45px;
	}

	time {
	font-size: 1rem;
	}
}

/*PORTFOLIO --------------------------------------------------*/

section.portfolio {
	padding-top: 25px;
	width: 100%;
	margin: 0;
	background-color: #f2f2f2;
}
.portfolio h1 {
	margin-bottom: 25px;
	text-align: center;
	color: #000;
	font-weight: 700;
}
.portfolio p {
	color: #000;
}

.modal a {
	color: #fff;
}
.modal a:hover, .modal a:active {
	color: #ff9999;
	background-color: transparent;
}

	/* Style the list */
ul.tab {
	margin: 0 auto;
    list-style-type: none;
    padding: 0;
    overflow: hidden;
    /*border: 1px solid #ccc;*/
    display: flex;
	justify-content: center;
    background-color: #404040; 	
  	width: 80%;
}

/* Float the list items side by side */

ul.tab li {
	float: left;
	width: calc(100%/3);	
}

/* Style the links inside the list items */
ul.tab li a {
	width: 100%;
	height: 100%;
    display: inline-block;
    color: #ffcccc;
    text-align: center;
    text-decoration: none;
    transition: 0.3s;
    font-size: 14px;
    font-weight: 700;
    padding: 10px 8px;
}

/* Change background color of links on hover */
ul.tab li a:hover {background-color: #505050;}

/* Create an active/current tablink class */
ul.tab li a:focus, .active {background-color: #000;}

/* Style the tab content */
div.tabcontent {
	margin: 0 auto;
	width: 80%;
    padding-top: 25px;
    padding-bottom: 25px;
}
	
div.photo-grid {
	/*background-color: black;*/
	display: flex;
	flex-wrap: wrap;
}

div.photo {
overflow: hidden;
  display: inline-block;
  margin-bottom: 8px;
  max-width: calc(50% - 4px);
  height: 10em;
  margin-right: 8px;
  cursor: pointer;
  background-color: black;
}
.photo img {
	border: none;
	/*min-height: auto;
	width: 100%;
	display: block;*/
	background: #ccc;
	transition: transform .2s ease-in-out;
    /*max-height: 100px;
  max-width: 100px;
  width: auto;    
  height: auto;*/
}

div.photo:hover img {
  transform: scale(1.15);
}

div.photo:nth-of-type(2n) {
  margin-right: 0;
}
#portfolio .modal-dialog {
	width: 100%;
}
div.modal-content {
	background-color: rgba(0, 0, 0, 0.7);
	border: none;
}
div.modal-header {
	border: none;
}
div.modal-footer {
	border: none;
	text-align: center;
}
	.modal-footer h4{
		margin-top: 0;
	}
	.modal-footer p {
		color: #fff;
	}

button.close {
	float: right;
	color: #737373;
	opacity: 0.7;
	font-size: 6em;
	font-weight: 400;
	text-shadow: none;
}
	button.close:hover {
		color: #e6e6e6;
	}

div.carousel-inner, div.carousel, .item {
	background-color: rgba(0,0,0,0);
}

.carousel-caption {
	padding-top: 20px;
}

/*clear gradient on carousel controls*/
.carousel-control.left, .carousel-control.right {
  background: none !important;
  filter: progid: none !important;
  outline: 0;
 }
.carousel .carousel-control {
  visibility: hidden;
}
.carousel:hover .carousel-control {
  visibility: visible;
}

#portfolio .carousel-inner>.item img, #portfolio .modal-body img {
	/*max-width: 100%;*/
	max-height: 100vh;
	margin: 0 auto;
}

@media only screen and (min-width: 1024px) {
	#portfolio .carousel-inner>.item img, #portfolio .modal-body img {
		max-width: 70%;
	}
}

h3.modal-title, {
	font-size: 1.4rem;
	font-weight: 700;
}

.modal-caption , {
	font-size: 1.3rem;
}

.car-caption h3 {
	font-size: 1.4rem;
	font-weight: 700;
	margin-bottom: 0;
}

.car-caption p {
	font-size: 1.3rem;
}


/***********BIGGER SCREEN**************/
@media only screen and (min-width: 768px) {
	#portfolio .modal-dialog {
		width: 100%;
	}
}
@media only screen and (min-width: 50em) {
  div.photo {
    width: calc((100%/3) - 16px/3);
    height: 15em;
  }
  
  div.photo:nth-of-type(2n) {
    margin-right: 8px;
  }
  
  div.photo:nth-of-type(3n) {
    margin-right: 0;
  }

  h3.modal-title {
	font-size: 1.5em;
	font-weight: 700;
	}

	.modal-caption {
		font-size: 1.3em;
	}

	section.portfolio {
	padding-top: 75px;
	}

	ul.tab {
		width: 50%;
	}

	ul.tab li a{
		font-size: 20px;
		font-weight: 700;
    	padding: 16px 14px;
	}
	.portfolio h1 {
		margin-bottom: 50px;
	}
	div.tabcontent {
	    padding-top: 75px;
	    padding-bottom: 100px;
	}
}




/************************************CONTACT**********************************8*/
section.contact {
	background-color: #404040;
	color: #fff;
	padding: 25px;
	padding-bottom: 50px;
}
	.contact h1 {
		text-align: center;
		margin-bottom: 25px;
	}
	.contact h2 {
		color: #f00808;
		margin-bottom: 1em;
	}
	.contact p {
		font-size: 1rem;
		line-height: 0.5rem;
	}
	
	.my-contact, .email-form {
		display: block;
	}
	.my-contact {
		margin-bottom: 40px;
	}

input[type=text] {
	margin-bottom: 0;
	height: 1.75em;
}

input[type=submit], input[type=reset] {
	margin-top: -20px;
	background-color: #f76e6e;
	color: #fff;
	border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 60px;
    height: 35px;
    margin-right: 10px;
    margin-bottom: 0;
}

@media screen and (min-width: 50em) {
	section.contact {
		padding: 75px;
	}
	.contact p {
		font-size: 2rem;
		line-height: 2rem;
	}
	.contact h1 {
		text-align: left;
	}

	.container {
		display: flex;
		align-items: center;
		align-items: center;
	}

	.my-contact, .email-form {
		width: 40vw;
		display: inline-block;
		padding: 20px;
		margin: 20px;
	}
	.my-contact h2 {
		margin: 1em 0;
	}
	input[type=text] {
		margin-bottom: 10px;
		height: 3em;
	}
	input[type=submit], input[type=reset] {
		margin-top: 0;
	}
}

.footer {
	background-color: #404040;
	text-align: center;
	margin: 0;
	overflow: hidden;
}

.footer p {
	margin: 0.2rem;
}